/*↓ ↓ ↓ reset ↓ ↓ ↓  */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-main: #6460b2;
  --clr-main-dark: #37366e;
  --clr-secondary: #87cbee;
  --clr-secondary-light: #d9effa;
  --clr-third: #ffd3e8;
  --clr-lightgray: #ccc;
  --clr-body: #fff;
  --clr-dark: #111111;
  --clr-desc: #6d6d6d;
  --rounded-one: 15px;
  --rounded-two: 25px;
  --transition: all 0.4s ease-in;
  --font-size1: 1.6rem;
  --font-size2: 2.5rem;
  --font-size3: 3rem;
  --fon-size4: 4rem;
  --font-family: "Rubik", sans-serif;
  --bg-color: #141414;
  --card-color: #e24747;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-lightgray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-main);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-main-dark);
}

body {
  font-size: 1.4rem;
  background-color: var(--clr-body);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.center {
  display: grid;
  place-content: center;
  justify-items: center;
  height: 100vh;
}

body,
button {
  font-family: var(--font-family);
}

.hidden {
  display: none;
}

p {
  font-size: 1.6rem;
}

p::selection,
h1::selection,
h2::selection,
img::selection,
span::selection,
a::selection,
h3::selection,
i::selection,
div::selection,
h4::selection,
button::selection {
  background-color: var(--clr-main);
  color: var(--clr-body);
}

.dark p::selection,
.dark h1::selection,
.dark h2::selection,
.dark img::selection,
.dark span::selection,
.dark a::selection,
.dark h3::selection,
.dark i::selection,
.dark div::selection,
.dark h4::selection,
.dark button::selection {
  background-color: var(--clr-body);
  color: var(--clr-main);
}

/* ****************** */
/*↓ ↓ ↓ loader ↓ ↓ ↓  */
/* ****************** */

.loader-page {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--clr-body);
  left: 0;
  top: 0;
  overflow-y: hidden;
  z-index: 1000;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background: linear-gradient(
    var(--clr-main),
    var(--clr-secondary),
    var(--clr-secondary)
  );
}

.loader span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    var(--clr-main),
    var(--clr-secondary),
    var(--clr-secondary)
  );
}

.loader span:nth-of-type(1) {
  filter: blur(5px);
}

.loader span:nth-of-type(2) {
  filter: blur(10px);
}

.loader span:nth-of-type(3) {
  filter: blur(25px);
}

.loader span:nth-of-type(4) {
  filter: blur(50px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #e6e6e6;
  border: solid 5px #e6e6e6;
  border-radius: 50%;
}

.loader-hidden {
  transition-delay: 300ms;
  opacity: 0;
  visibility: hidden;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.text-loader {
  margin-top: 220px;
  font-weight: 900;
  background: linear-gradient(
    45deg,
    var(--clr-secondary),
    var(--clr-main-dark)
  );
  background-size: 180%;
  -webkit-background-clip: text;
  color: transparent;
  animation: textColot 1.5s infinite alternate;
}

@keyframes textColot {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}

/* ****************** */
/*↓ ↓ ↓ header ↓ ↓ ↓  */
/* ****************** */

header {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

/* .header-scroll {
} */

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-top: 70px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6460b2b2;
  backdrop-filter: blur(4px);
  padding-inline: 5px;
  padding-block: 8px;
  border-radius: 15px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0 15px;
  font-size: var(--font-size1);
}

nav ul li a {
  color: var(--clr-body);

  padding: 0;
}

.logo-nav h5 {
  font-size: var(--font-size1);
  color: var(--clr-dark);
}

.logo-nav img {
  width: 140px;
  padding-left: 5px;
  transition: all 0.4s;
}

.logo {
  width: 150px;
}

#logo-lp {
  width: 160px;
  transition: all 0.3s;
}

/* nav-lp  */

.font {
  font-size: 1.4rem;
}

.sign-up-lp,
.log-in-lp {
  all: unset;
  padding: 8px 15px;
  font-size: var(--font-size1);
}

.log-in-lp {
  border-radius: var(--rounded-one);
  background: linear-gradient(145deg, #c6e5f4, #98b3c0);
}

.nav-lp {
  display: none;
}

/* moblie */

.nav-mobile .bx-x {
  padding: 2px;
  border: 1px solid var(--clr-main);
  border-radius: 50%;
  color: var(--clr-main);
}

body {
  position: relative;
  transition: all 0.8s;
}

header > div {
  width: 100%;
}

.header-mb {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  align-items: center;
  padding-block: 5px;
  background-color: #6460b2b2;
  backdrop-filter: blur(4px);
  margin: 10px;
  border-radius: 20px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 105;
}

.nav-mobile {
  padding-top: 30px;
  position: fixed;
  width: 300px;
  background-color: #a5a1e9;
  height: 100vh;
  z-index: 10;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-800px);
  transition: all 0.8s;
  z-index: 5000;
  border-radius: 0 10px 10px 0;
}

.show-menu {
  transform: translateX(0);
}
.nav-mobile .bx-x {
  float: right;
  font-size: 2.5rem;
  cursor: pointer;
}

.mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 55px;
}

.bx-star {
  opacity: 0;
  transition: all 0.2s;
  margin-left: -10px;
}

a li {
  color: var(--clr-dark);
}

.li-m {
  border-bottom: 2px solid var(--clr-main);
  padding-block: 15px;
  cursor: pointer;
}

.li-m a {
  color: var(--clr-dark);
}

.li-m:hover .bx-star {
  padding-right: 15px;
  opacity: 1;
  margin-left: 0;
}

.mb-user-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-user-btn button {
  all: unset;
  padding: 10px 18px;
  color: var(--clr-dark);
  border-radius: var(--rounded-one);
  margin-inline: 10px;
}

.log-in-mb {
  background-color: var(--clr-secondary-light) !important;
}
.sign-up-mb {
  background-color: var(--clr-third) !important;
}

.show-menu-moblie {
  all: unset;
  cursor: pointer;
}

.lineX {
  height: 3px;
  margin-top: 4px;
  background-color: var(--clr-body);
  transition: all 0.5s;
}

.show-menu-moblie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-active {
  transition: all 0.5s;
}

.lineX:nth-child(1) {
  width: 20px;
}

.lineX:nth-child(2) {
  width: 25px;
}

.lineX:nth-child(3) {
  width: 20px;
}

.menu-active .lineX:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 5px);
  width: 25px;
}

.menu-active .lineX:nth-child(2) {
  opacity: 0;
}

.menu-active .lineX:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
  width: 25px;
}

.bxs-moon {
  padding: 8px;
  border-radius: 10px;
  background: linear-gradient(145deg, #3b377c, #464194);
  box-shadow: 5px 5px 10px #3734758c, -5px -5px 10px #4a469fa8;
  color: var(--clr-body);
  font-size: 1.8rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-lp {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  .header-mb {
    display: none;
  }

  header > div {
    width: auto;
  }
}

/* ********************* */
/*↓ ↓ ↓ home page ↓ ↓ ↓  */
/* ********************* */

.auto-type {
  background: linear-gradient(
    45deg,
    var(--clr-secondary),
    var(--clr-main-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
}

.home-page img {
  width: 90%;
  margin-top: 30px;
  transition: all 0.7s 0.5s ease-out;
}

.home-page-text {
  transition: all 0.7s 0.5s ease-out;
}

.home-page-text h1 {
  font-size: var(--font-size3);
  margin-block: 15px;
}

.home-page-text-p {
  color: var(--clr-desc);
  text-align: justify;
}

.home-page-text-num-box {
  display: flex;
  align-items: end;
  margin-block: 20px;
  margin-top: 30px;
}

.home-page-text-num-box > img {
  width: 40px;
  margin-right: 10px;
}

.input-num input {
  all: unset;
  padding: 15px;
  border-radius: var(--rounded-one) 0 0 var(--rounded-one);
  box-shadow: 0px 5px 12px var(--clr-lightgray);
  transition: all 0.3s;
}

.input-num input:focus {
  box-shadow: 0 5px 12px #e2e1e1;
}

.input-num button {
  all: unset;
  padding: 15px;
  border-radius: 0 var(--rounded-one) var(--rounded-one) 0;
  box-shadow: 0px 5px 12px var(--clr-lightgray);
  background-color: var(--clr-main);
  cursor: pointer;
  margin-left: -4px;
  color: var(--clr-body);
  transition: all 0.3s;
}

.input-num button:hover {
  background-color: var(--clr-main-dark);
}

.home-page-text-left {
  transform: translateX(-600px);
}

.home-img-left {
  transform: translateX(600px);
}

@media screen and (min-width: 768px) {
  .home-page {
    flex-direction: row;
  }

  .home-page-text {
    width: 50%;
  }

  .home-page img {
    margin-top: 0;
    width: 50%;
  }

  .home-page-text-num-box {
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .home-page-text h1 {
    font-weight: 800;
    font-size: var(--fon-size4);
  }

  .home-page {
    padding: 30px;
    height: 80vh;
  }

  .home-page img {
    width: 550px;
  }

  .home-page-text {
    max-width: 450px;
  }

  .home-page-text-num-box > img {
    width: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .home-page {
    height: 700px;
  }
}

/* ******************* */
/*↓ ↓ ↓ service ↓ ↓ ↓  */
/* ******************* */

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}

.service h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 210px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    #6460b2b2,
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    #7872e0,
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: #dad9ff;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  transition: all 0.3s;
}

.card h3 {
  color: var(--clr-dark);
}

.card i {
  color: rgb(14, 14, 14);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: var(--clr-desc);
  font-size: 0.85em;
  margin-top: 8px;
}

/* ↓ ↓ ↓ some responsiveness ↓ ↓ ↓  */

@media (max-width: 1000px) {
  #cards {
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 150px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

/* ******************** */
/*↓ ↓ ↓ about us ↓ ↓ ↓  */
/* ******************** */

.about-us {
  background-color: var(--clr-main) !important;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-inline: 10px;
  overflow: hidden;
  margin-block: 30px;
  padding-block: 40px;
}

.about-imgs {
  display: none;
  position: relative;
}

.about-imgs img {
  width: 210px;
  border-radius: 15px;
}

.about-imgs img:nth-child(2) {
  transform: rotate(-25deg);
  transition: all 1s;
  margin-left: 20px;
  position: absolute;
  right: 0;
  top: -50px;
}

.about-imgs img:nth-child(1) {
  transform: rotate(-25deg);
  margin-right: 25px;
  transition: all 1.5s;
  float: right;
  margin-right: 230px;
}

.about-img-down img:nth-child(1) {
  transform: translateY(800px) rotate(-25deg);
}

.about-img-down img:nth-child(2) {
  transform: translateY(800px) rotate(-25deg);
}

.about-desc h2 {
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--clr-body) !important;
}

.about-desc p {
  font-size: 1.6rem;
  margin-block: 20px;
  color: var(--clr-lightgray) !important;
  text-align: justify;
}

.badge {
  font-size: 1.4rem !important;
  margin-block: 10px !important;
}

.about-seemore {
  padding: 17px 10px;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: #0000000d 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.about-seemore:hover {
  background-color: var(--clr-secondary);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--clr-secondary) 0px 7px 29px 0px;
}

.about-contect {
  padding: 17px 25px;
  border-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
  border: 0;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  color: #ffffff;
  background-color: var(--clr-main-dark);
}

.about-contect:hover {
  background-color: #282753;
  box-shadow: #0000000d 0 0 8px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-inline-start: 30px;
    flex-direction: row;
    height: 500px;
  }

  .about-desc h2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1050px) {
  .about-desc {
    width: 40%;
  }

  .about-us {
    margin-inline: auto;
  }

  .about-imgs {
    width: 50%;
    display: block;
  }

  .about-us {
    background-color: var(--clr-main) !important;
  }
}

/* **************************** */
/*↓ ↓ ↓ positive feature ↓ ↓ ↓  */
/* **************************** */

.positive-feature {
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
  padding-block: 40px;
  margin-bottom: 100px;
}

.positive-feature .positive-feature-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.feature-box {
  width: 90%;
  margin-block: 20px;
  padding: 10px;
  border-radius: 20px;
  padding-block: 30px;
  transition: all 0.3s;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.box-to-down {
  transform: translateY(250px);
}

.feature-box:nth-child(1) {
  transition: all 0.5s;
}

.feature-box:nth-child(2) {
  transition: all 1s;
}

.feature-box:nth-child(3) {
  transition: all 1.3s;
}

.feature-box img {
  width: 50px;
  padding: 5px;
  border-radius: 50%;
}
.feature-box > * {
  margin-block: 10px;
}

.feature-box:nth-child(1) img {
  background-color: var(--clr-secondary);
}

.feature-box:nth-child(2) img {
  background-color: var(--clr-third);
}

.feature-box:nth-child(3) img {
  background-color: #9591d6;
}

.get-start-btn {
  all: unset;
  margin-top: 10px;
  transition: all 0.3s;
  padding: 15px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.get-start-btn:hover {
  background-color: var(--clr-secondary);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--clr-secondary) 0px 7px 29px 0px;
  transform: translateY(-5px);
  padding: 15px;
}

.get-start-btn::after {
  content: "\276F";
  padding-left: 5px;
  transition: all 0.3s;
}

.get-start-btn:hover::after {
  padding-left: 12px;
  color: var(--clr-body);
}

@media screen and (min-width: 768px) {
  .positive-feature {
    padding-inline: 30px;
  }
  .positive-feature .positive-feature-boxs {
    flex-direction: row;
    justify-content: space-around;
  }
  .positive-feature .positive-feature-boxs .feature-box {
    width: 28%;
  }
}

/* ******************* */
/*↓ ↓ ↓ swipper ↓ ↓ ↓  */
/* ******************* */

.our-work {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-block: 45px;
  margin-bottom: 50px;
  overflow-x: hidden;
}

swiper-container {
  width: 170px;
  height: 270px;
  margin-top: 50px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide:nth-child(1n) {
  background: url(../imgs/web3.webp);
  background-position: top;
  background-size: cover;
}

swiper-slide:nth-child(2n) {
  background: url(../imgs/web6.webp);
  background-position: top;
  background-size: cover;
}

swiper-slide:nth-child(3n) {
  background: url(../imgs/web1.webp);
  background-position: top;
  background-size: cover;
}

swiper-slide:nth-child(4n) {
  background: url(../imgs/web4.webp);
  background-position: top;
  background-size: cover;
}

swiper-slide:nth-child(5n) {
  background: url(../imgs/web5.webp);
  background-position: top;
  background-size: cover;
}

swiper-slide:nth-child(6n) {
  background: url(../imgs/web2.webp);
  background-position: top;
  background-size: cover;
}

.our-work-text > * {
  margin-block: 15px;
}

.our-work-text p {
  text-align: justify;
}

.our-work-text h2 {
  font-size: 3rem;
}

.btn-shine {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--clr-secondary);
  border-radius: 10px;
  color: var(--clr-secondary);
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-shine span {
  color: var(--clr-secondary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn-shine:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.btn-shine:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: var(--clr-secondary);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (min-width: 768px) {
  .our-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .our-work-text h2,
  .our-work-text p {
    max-width: 400px;
  }

  .our-work-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-work-text {
    width: 50%;
  }

  swiper-container {
    width: 240px;
    height: 320px;
  }
}

/* ****************** */
/*↓ ↓ ↓ footer ↓ ↓ ↓  */
/* ****************** */

footer {
  border-radius: 70px 70px 0 0;
  background-image: radial-gradient(
      circle at 33% 41%,
      rgba(250, 250, 250, 0.03) 0%,
      rgba(250, 250, 250, 0.03) 50%,
      rgba(37, 37, 37, 0.03) 50%,
      rgba(37, 37, 37, 0.03) 100%
    ),
    radial-gradient(
      circle at 76% 49%,
      rgba(28, 28, 28, 0.03) 0%,
      rgba(28, 28, 28, 0.03) 50%,
      rgba(187, 187, 187, 0.03) 50%,
      rgba(187, 187, 187, 0.03) 100%
    ),
    radial-gradient(
      circle at 41% 99%,
      rgba(247, 247, 247, 0.03) 0%,
      rgba(247, 247, 247, 0.03) 50%,
      rgba(120, 120, 120, 0.03) 50%,
      rgba(120, 120, 120, 0.03) 100%
    ),
    radial-gradient(
      circle at 66% 27%,
      rgba(17, 17, 17, 0.03) 0%,
      rgba(17, 17, 17, 0.03) 50%,
      rgba(156, 156, 156, 0.03) 50%,
      rgba(156, 156, 156, 0.03) 100%
    ),
    linear-gradient(0deg, rgb(100, 96, 178), rgb(100, 96, 178));
  padding-block: 50px;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10px;
}

footer a {
  color: var(--clr-body);
}

footer h3 {
  font-size: 2rem;
  padding-block-end: 25px;
  margin-top: 40px;
}

footer li {
  margin-block: 10px;
}

footer li a {
  color: var(--clr-lightgray);
  transition: all 0.3s;
}

footer li a:hover {
  color: var(--clr-body);
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  footer > div {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
}

/*↓ ↓ ↓ back to top ↓ ↓ ↓  */

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  background: linear-gradient(145deg, var(--clr-main), var(--clr-main-dark));
  font-size: 2rem;
  border-radius: 50%;
  transform: translateY(100px);
  transition: all 0.5s;
  z-index: 2000;
}

.back-to-top {
  color: var(--clr-body);
}

.to-top {
  transform: translateY(0);
}

/* ********************* */
/*↓ ↓ ↓ dark mode ↓ ↓ ↓  */
/* ********************* */

.dark {
  background-color: rgb(20, 20, 20);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark .nav-mobile li {
  color: var(--clr-body);
}

.dark p {
  color: var(--clr-lightgray);
}

.dark .card-content {
  background-color: rgb(23, 23, 23);
}

.dark .card {
  background-color: #3a3a3a;
}

.dark i {
  color: var(--clr-body);
}

.dark .card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    #6460b26b,
    transparent 40%
  );
}

.dark .home-page input,
.dark .home-page button {
  box-shadow: 0px 5px 12px #2c2b2b;
}

.dark .home-page input:focus {
  box-shadow: 0px 5px 12px #27262698;
}

.dark .nav-mobile {
  background-color: #37366e;
}

.dark .loader-page {
  background-color: var(--bg-color);
}

.dark .loader::after {
  background-color: #242424;
  border: solid 5px #242424;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--moon,
.icon--sun {
  width: 30px;
  transition: all 0.5s;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  cursor: pointer;
}

.icon--sun {
  transform: scale(0);
}

.switch-theme {
  background: linear-gradient(145deg, #3b377c, #464194);
  box-shadow: 5px 5px 10px #3734759f, -5px -5px 10px rgba(74, 70, 159, 0.671);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  flex-wrap: wrap;
  padding-top: 3px;
  margin-inline: 5px;
}

.change-theme-mb .icon--moon {
  transform: rotate(360deg) scale(0);
}

.change-theme-mb .icon--sun {
  transform: scale(1) rotate(360deg);
}

.sign-up-lp {
  color: var(--clr-body) !important;
}

.log-in-lp {
  color: var(--clr-dark) !important;
}

.dark .feature-box {
  box-shadow: 20px 20px 60px #252525, -20px -20px 60px #313131;
}

.dark .get-start-btn {
  color: var(--clr-body);
}

.dark .li-m a {
  color: var(--clr-body);
}
